body{
    margin:0;
    padding:0;
    background:linear-gradient(35deg,#ffcccc,#ccffff);
}
#title{
    text-align:center;
    background-color:#96dbc5;
    height:140px;
    padding:15px 0;
    margin-top:15px;
}
#img-div,#tribute-info{
    display:grid;
    justify-items: center;
    margin:5% 0 2% 0;
}
#image{
    border-radius:50%;
}
#img-caption{
    margin:35px;
}
#timeline{
    line-height: 35px;
    margin:25px 100px;
}
#quotes{
    margin:5% 10vw;
    font-size:25px;
}
#foot{
    margin:2% auto;
    text-align: center;
}